<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form class="md-float-material form-material" action="javascript:">
                    <div class="text-center py-4">
                        <img width="250" src="assets/images/logo-original.png" alt="logo.png">
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-left">Restablecer Contraseña</h3>
                                </div>
                            </div>
    
                            <div class="form-group form-primary">
                                <input [(ngModel)]="email" type="text" name="email-address" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Correo electrónico</label>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button (click)="reset()" type="button"
                                        class="btn btn-primary btn-md btn-block waves-light text-center m-b-20 ripple">Reiniciar contraseña</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-inverse text-left"><a [routerLink]="['/start']"><b>Regresar al inicio</b></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>