<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Sample Page'">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </app-card>
    </div>
  </div>
</div>

<app-card [title]="'Ng-X Basic Datatable'">
      <span class="m-b-20">use class <code>data-table</code> with ngx-datatable</span><br><br>
      <ngx-datatable
        class="data-table table-responsive"
        [rows]="rowsBasic"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [limit]="5">

      </ngx-datatable>
    </app-card>
<app-card [title]="'Bootstrap modals'" [blockClass]="'model-btn-card'" [cardOptionBlock]="true">
      <p>use code<code> modal-lg, modal-sm</code> to use large and small popup modal.</p>
      <ul class="model-btn">
        <li>
          <!-- modal static-->
          <button type="button" class="btn btn-default ripple" (click)="modalDefault.show()">Static</button>
          <app-modal-basic #modalDefault>
            <div class="app-modal-header">
              <h4 class="modal-title">Modal title</h4>
              <button type="button" class="close basic-close" (click)="modalDefault.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="app-modal-body">
              <h5>Default Modal</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem impus dolorsit.onsectetur adipiscing</p>
            </div>
            <div class="app-modal-footer">
              <button type="button" class="btn btn-default ripple" (click)="modalDefault.hide()">Close</button>
              <button type="button" class="btn btn-primary ripple light">Save changes</button>
            </div>
          </app-modal-basic>
        </li>
        <li>
          <!-- modal large-->
          <button type="button" class="btn btn-primary ripple light" (click)="modalLarge.show()">Large</button>
          <app-modal-basic #modalLarge [dialogClass]="'modal-lg'">
            <div class="app-modal-header">
              <h4 class="modal-title">Modal title</h4>
              <button type="button" class="close basic-close" (click)="modalLarge.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="app-modal-body">
              <h5>Large Modal</h5>
              <p>This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
            </div>
            <div class="app-modal-footer">
              <button type="button" class="btn btn-default ripple" (click)="modalLarge.hide()">Close</button>
              <button type="button" class="btn btn-primary ripple light">Save changes</button>
            </div>
          </app-modal-basic>
        </li>
        <li>
          <!-- modal small-->
          <button type="button" class="btn btn-success ripple light" (click)="modalSmall.show()">Small</button>
          <app-modal-basic #modalSmall [dialogClass]="'modal-sm'">
            <div class="app-modal-header">
              <h4 class="modal-title">Modal title</h4>
              <button type="button" class="close basic-close" (click)="modalSmall.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="app-modal-body">
              <h5>Small Modal</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing .</p>
            </div>
            <div class="app-modal-footer">
              <button type="button" class="btn btn-default ripple" (click)="modalSmall.hide()">Close</button>
            </div>
          </app-modal-basic>
        </li>
      </ul>
    </app-card>