<div class="page-body">

    <div class="row">
        <div class="col-md-6">
            <app-card [title]="'Datos del perfil'" [cardOptionBlock]="true">
                <div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Nombre</label>
                        <div class="col-sm-12">
                            <input [(ngModel)]="first_name" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Apellido</label>
                        <div class="col-sm-12">
                            <input [(ngModel)]="last_name" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Foto de perfil</label>
                        <div class="col-sm-8">
                            <input #myInput type="file" ng2FileSelect [uploader]="uploader" class="form-control">
                            
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-danger" (click)="removeAll()">Remover</button>
                        </div>
                    </div>
                    <small>Peso máximo permitido 1MB.</small>
                    <br>
                    <br><br>
                    <p>Foto de perfil</p>

                    <div class="text-center">
                        <img [src]="photo" class="img-fluid" alt="">
                    </div>

                    <button type="button" class="btn btn-primary ripple light mt-4" (click)="upload()">Guardar Cambios</button>
                </div>
            </app-card>
        </div>
        <div class="col-md-6">
            <app-card [title]="'Cambio de contraseña'" [cardOptionBlock]="true">
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Contraseña actual</label>
                    <div class="col-sm-12">
                        <input [(ngModel)]="password" type="password" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Nueva Contraseña</label>
                    <div class="col-sm-12">
                        <input [(ngModel)]="new_password" type="password" class="form-control">
                    </div>
                </div>
                <br>
                <button type="button" (click)="saveMessage()" class="btn btn-primary ripple light mt-4">Cambiar</button>
            </app-card>
        </div>
    </div>

</div>
