
.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item > li.custom_active > a
{
    background:#448aff;
    color:#fff !important;
}

.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item > li.custom_active > a > span.pcoded-micon {
    color:#fff !important;
}

.pcoded .pcoded-header[header-theme="theme1"] {
    background: #448aff;
}